/*header*/
header .details-header {
  background-color: #1b1b1b;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 15px 0px;
  text-align: center;
}
header .menu-container {
  background-color: #f1f1f1;
}
header .menu-container .logo {
  width: 70%;
  height: 40%;
}
header .menu-container .navbar-nav-all-width {
  width: 100%;
}
header .space-nav {
  margin: 20px;
  color: rgb(153, 153, 153);
}
header .cart-icon {
  display: flex;
  margin-right: 20px;
  text-decoration: none;
}
header .cart-icon .cart-img {
  width: 22px;
  height: 22px;
  object-fit: fill;
}
header .cart-icon .amount-cart {
  margin-left: 5px;
  color: black;
}

/*footer*/
.footer-container {
  background-color: #1b1b1b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}
.footer-container .footer-element {
  width: 30%;
}
.footer-container .footer-element .nav-list {
  list-style: none;
  padding-left: 20%;
  line-height: 2.5;
}
@media screen and (max-width: 880px) {
  .footer-container .footer-element .nav-list {
    padding-left: 0px;
    margin-bottom: 0px;
  }
}
.footer-container .footer-element .email-box .footer-input {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}
.footer-container .footer-element .social-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
}
@media screen and (max-width: 880px) {
  .footer-container .footer-element {
    margin-bottom: 50px;
    width: 100%;
  }
  .footer-container .footer-element:last-child {
    margin-bottom: 0px;
    width: 100%;
  }
  .footer-container .footer-input {
    max-width: 300px;
  }
  .footer-container .social-list {
    margin-top: 20px;
    max-width: 300px;
    justify-content: space-between;
  }
}

/*boton de whatsapp*/
.wp-logo {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}
.wp-logo .wp-logo-img {
  width: 40px;
  height: 40px;
}

/* titulos */
.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.section-main {
  margin: 50px 100px;
}

.section-title {
  text-align: center;
}

@media only screen and (max-width: 450px) {
  .section-main {
    margin: 5%;
    padding: 5%;
  }
  .subtitle {
    font-size: 16px;
  }
}
/*index*/
@media only screen and (max-width: 450px) {
  .photoindex {
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-size: center;
  }
}
/*productos*/
.section-main .products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px auto;
}
.section-main .products .product-card {
  width: 300px;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: -1px -1px 5px 1px rgba(0, 0, 0, 0.59);
  position: relative;
}
.section-main .products .product-card:hover {
  box-shadow: -1px -1px 10px 1px rgba(0, 0, 0, 0.59);
}
.section-main .products .product-card .product-card-price {
  position: absolute;
  font-size: 20px;
  top: 10px;
  left: 10px;
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(218, 218, 218), 0 0 0.2em rgb(137, 137, 137);
}
.section-main .products .product-card .product-image {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.section-main .products .product-card .product-detail {
  height: 100px;
  background-color: #ebebeb;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.section-main .products .product-card .product-detail .cart-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-top: 10px;
}
.section-main .products .product-card .product-detail .cart-buttons .cart-button {
  border: 2px black;
  width: 30px;
  height: 30px;
  background-color: #c6c5c5;
  border-radius: 5px;
}
.section-main .products .product-card .product-detail .cart-buttons .amount {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-main .products .product-card .product-detail .add-button-container {
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-main .products .product-card .product-detail .add-button-container .add-button {
  margin-bottom: 10px;
  border: none;
  background-color: #c6c5c5;
  border-radius: 5px;
  padding: 4px 15px;
}

/* contacto */
.main-contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px 70px 200px;
}
@media only screen and (max-width: 450px) {
  .main-contacto {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
}
@media only screen and (max-width: 850px) {
  .main-contacto {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding: 10px;
  }
}
.main-contacto .list-contacto {
  list-style: none;
  line-height: 2.5;
}
@media only screen and (max-width: 450px) {
  .main-contacto .form-contacto {
    margin: 10px;
  }
}

.cart-card-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cart-card-container .empty-cart {
  font-size: 20px;
  font-weight: 700;
}
.cart-card-container .cart-card {
  max-width: 1300px;
  width: 100%;
  min-width: 800px;
  height: 170px;
  border: 2px solid;
  border-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}
.cart-card-container .cart-card .cart-card-img .img-cart {
  width: 90px;
  height: 140px;
}
.cart-card-container .cart-card .cart-button {
  border-radius: 3px;
  border: none;
  background-color: #c6c5c5;
}

.total-amount-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.total-amount-container .total-amount-card {
  max-width: 1300px;
  width: 100%;
  min-width: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.total-amount-container .total-amount-card .total-amount {
  font-size: 25px;
  margin-right: 20px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
