/*boton de whatsapp*/
.wp-logo {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  .wp-logo-img {
    width: 40px;
    height: 40px;
  }
}

/* titulos */

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.section-main {
  margin: 50px 100px;
}

.section-title {
  text-align: center;
}

@media only screen and (max-width: 450px) {
  .section-main {
    margin: 5%;
    padding: 5%;
  }

  .subtitle {
    font-size: 16px;
  }
}
